<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <br>
      <ion-button (click)="tolistQuestionarie()" expand="block">Cuestionarios</ion-button>
      <br>
      <ion-button (click)="toQr()" expand="block">Lector QR</ion-button>
      <br>
      <ion-button (click)="toConfigure()" expand="block">Configuracion</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>