<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ingreso al Sistema
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Registrarse
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Nuevo usuario</ion-card-title>
    </ion-card-header>
      <form [formGroup]="registerForm" (submit)="submitForm()">
        <ion-input 
          label="Email"
          type="email"
          label-placement="floating" 
          fill="outline" 
          formControlName="email"
          errorText="El email es requerido y debe ser válido"
          placeholder="Ingrese su Email">
        </ion-input>
        <br>
        <ion-input 
          label="Contraseña"
          type="password"
          label-placement="floating" 
          fill="outline" 
          formControlName="password"
          errorText="La contraseña es requerida, debe tener al menos 8 caracteres y debe contener al menos una letra mayúscula, un caracter especial y un número"
          placeholder="Ingrese su Contraseña">
        </ion-input>
        <br>
        <ion-input 
          label="Repetir Contraseña"
          type="password"
          label-placement="floating" 
          fill="outline" 
          formControlName="confirmPassword"
          placeholder="Repetir Contraseña">
      </ion-input>
        <br>
        <ion-button
        type="submit"
        [disabled]="!registerForm.valid"
        expand="block">Registrar</ion-button>
        <br>
        <ion-button (click)="backtoLogin()" expand="block">Volver</ion-button>
      </form>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
